# LDA 실습

In [646]:
import numpy as np
import pandas as pd
from functools import reduce

In [670]:
doc_ls = ['a b c',
'a b','b c']
topic_num = 2
alpha=0.1

# RandomlyAssignTopic

# token별 토픽 할당

In [671]:
words = (' '.join(doc_ls).split(' '))
assign = np.random.randint(topic_num, size = len(words))
len(words), len(assign)

(7, 7)

In [672]:
# ranDf = pd.DataFrame( assign,  bow)
ranDf = pd.DataFrame({'word': words, 'assign': assign, })

def func(x):
    return [doc_ls.index(x)]*len(x.split(' '))
    
lst = list(map(lambda x: func(x), doc_ls))
ranDf['doc_num'] = str(lst).replace('[','').replace(']','').split(', ')

In [678]:
ranDf

  word  assign doc_num
0    a       0       0
1    b       0       0
2    c       0       0
3    a       0       1
4    b       1       1
5    b       0       2
6    c       1       2

In [674]:
tar_idx=3

In [675]:
doc_num = ranDf['doc_num'][tar_idx]
target = ranDf['assign'][tar_idx]
a = pd.DataFrame(np.zeros((topic_num)))
tempSer = (ranDf[ranDf.doc_num==str(doc_num)])['assign'].value_counts()
a[0]=tempSer
a = a.fillna(0)+alpha
a.iloc[target]-=1

In [687]:
(ranDf[ranDf.doc_num==str(doc_num)])

  word  assign doc_num
3    a       0       1
4    b       1       1

In [685]:
a

     0
0  0.1
1  1.1

In [662]:
tempSer

3    2
1    1
0    1
Name: assign, dtype: int64

In [609]:
def assignTopic(tar_idx):
    doc_num = ranDf['doc_num'][tar_idx]
    target = ranDf['assign'][tar_idx]
    a = pd.DataFrame(np.zeros((topic_num)))
    tempSer = (ranDf[ranDf.doc_num==str(doc_num)])['assign'].value_counts()
    a[0]=tempSer
    a = a.fillna(0)+alpha
    a.iloc[target]-=1
#     print('docScore:',a)

    bow = list(set(words))
    beta = 0.001
    wordScore = np.zeros((len(bow),topic_num))
    for word, topic in ranDf[['word','assign']].values:
        wordScore[int(bow.index(word))][topic]+=1
    wordScore +=  beta
    wordScore[bow.index(ranDf['word'][tar_idx])][ranDf['assign'][tar_idx]]-=1
    b = wordScore[bow.index(ranDf['word'][tar_idx])]/wordScore.sum(axis = 0)
    return (a[0]*pd.Series(b)).idxmax()

In [593]:
ranDf

    word  assign doc_num
0    바나나       3       0
1     사과       0       0
2     포도       2       0
3     포도       2       0
4     사과       1       1
5     포도       0       1
6     포도       0       2
7    바나나       1       2
8    짜장면       0       3
9     짬뽕       3       3
10   탕수욕       1       3
11   볶음밥       0       4
12   탕수욕       3       4
13   짜장면       3       5
14    짬뽕       1       5
15    라면       1       6
16    스시       0       6
17    스시       1       7
18   가츠동       1       8
19    스시       0       8
20    소바       2       8
21  된장찌개       1       9
22  김치찌개       0       9
23    김치       3       9
24    김치       1      10
25    된장       2      10
26   비빔밥       2      11
27    김치       3      11

In [640]:
ranDf['assign'] = pd.Series(map(lambda x: assignTopic(ranDf,x), range(len(ranDf))))

In [632]:
ranDf['assign']=ranDf['reassign1']

In [641]:
ranDf

    word  assign doc_num  reAssign  reassign  reassign1
0    바나나       1       0         1         3          1
1     사과       1       0         1         0          1
2     포도       0       0         0         0          0
3     포도       0       0         0         0          0
4     사과       0       1         0         1          0
5     포도       2       1         2         0          2
6     포도       0       2         0         2          0
7    바나나       3       2         3         1          3
8    짜장면       3       3         3         0          3
9     짬뽕       1       3         1         3          1
10   탕수욕       3       3         3         1          3
11   볶음밥       3       4         3         1          3
12   탕수욕       1       4         1         3          1
13   짜장면       0       5         0         3          0
14    짬뽕       3       5         3         1          3
15    라면       0       6         0         1          0
16    스시       1       6         1         0          1
17    스시       0       7         0         1          0
18   가츠동       2       8         2         0          2
19    스시       0       8         0         0          0
20    소바       0       8         0         2          0
21  된장찌개       3       9         3         1          3
22  김치찌개       3       9         3         1          3
23    김치       1       9         1         3          1
24    김치       3      10         3         1          3
25    된장       1      10         1         3          1
26   비빔밥       3      11         3         3          3
27    김치       3      11         3         3          3

In [607]:
ranDf['reAssign'] = pd.Series(map(lambda x: assignTopic(x), range(len(ranDf))))

In [596]:
a= tuple(ranDf['reAssign'])
b= tuple(ranDf['assign'])

In [599]:
a,b=1,5
while a!=b:
    a+=1

In [597]:
while a!=b:
    ranDf['assign']=ranDf['reAssign']
    ranDf['reAssign'] = pd.Series(map(lambda x: assignTopic(x), range(len(ranDf))))
    a= tuple(ranDf['reAssign'])
    b= tuple(ranDf['assign'])
    print(ranDf)
#     if tuple(ranDf['reAssign'])==tuple(ranDf['assign']):
#         break

    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       2       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       1       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3

    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3

    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       3       0         1
1     사과       0       0         1
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         0
5     포도       0       1         2
6     포도       2       2         0
7    바나나       1       2         3
8    짜장면       0       3         3
9     짬뽕       3       3         1
10   탕수욕       1       3         3
11   볶음밥       1       4         3
12   탕수욕       3       4         1
13   짜장면       3       5         0
14    짬뽕       1       5         3
15    라면       1       6         0
16    스시       0       6         1
17    스시       1       7         0
18   가츠동       0       8         2
19    스시       0       8         0
20    소바       2       8         0
21  된장찌개       1       9         3
22  김치찌개       1       9         3
23    김치       3       9         1
24    김치       1      10         3
25    된장       3      10         1
26   비빔밥       3      11         3
27    김치       3      11         3
    word  assign doc_num  reAssign
0    바나나       1       0         3
1     사과       1       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       0       1         1
5     포도       2       1         0
6     포도       0       2         2
7    바나나       3       2         1
8    짜장면       3       3         0
9     짬뽕       1       3         3
10   탕수욕       3       3         1
11   볶음밥       3       4         1
12   탕수욕       1       4         3
13   짜장면       0       5         3
14    짬뽕       3       5         1
15    라면       0       6         1
16    스시       1       6         0
17    스시       0       7         1
18   가츠동       2       8         0
19    스시       0       8         0
20    소바       0       8         2
21  된장찌개       3       9         1
22  김치찌개       3       9         1
23    김치       1       9         3
24    김치       3      10         1
25    된장       1      10         3
26   비빔밥       3      11         3
27    김치       3      11         3

KeyboardInterrupt:

In [598]:
ranDf

    word  assign doc_num  reAssign
0    바나나       3       0         3
1     사과       0       0         0
2     포도       0       0         0
3     포도       0       0         0
4     사과       1       1         1
5     포도       0       1         0
6     포도       2       2         2
7    바나나       1       2         1
8    짜장면       0       3         0
9     짬뽕       3       3         3
10   탕수욕       1       3         1
11   볶음밥       1       4         1
12   탕수욕       3       4         3
13   짜장면       3       5         3
14    짬뽕       1       5         1
15    라면       1       6         1
16    스시       0       6         0
17    스시       1       7         1
18   가츠동       0       8         0
19    스시       0       8         0
20    소바       2       8         2
21  된장찌개       1       9         1
22  김치찌개       1       9         1
23    김치       3       9         3
24    김치       1      10         1
25    된장       3      10         3
26   비빔밥       3      11         3
27    김치       3      11         3

In [529]:
tuple(ranDf['reAssign'])==tuple(ranDf['assign'])

True

In [528]:
ranDf

    word  assign doc_num  reAssign
0    바나나       3       0         3
1     사과       1       0         1
2     포도       1       0         1
3     포도       1       0         1
4     사과       1       1         1
5     포도       1       1         1
6     포도       1       2         1
7    바나나       1       2         1
8    짜장면       3       3         3
9     짬뽕       1       3         1
10   탕수욕       1       3         1
11   볶음밥       1       4         1
12   탕수욕       2       4         2
13   짜장면       0       5         0
14    짬뽕       0       5         0
15    라면       3       6         3
16    스시       3       6         3
17    스시       3       7         3
18   가츠동       3       8         3
19    스시       3       8         3
20    소바       3       8         3
21  된장찌개       2       9         2
22  김치찌개       2       9         2
23    김치       0       9         0
24    김치       2      10         2
25    된장       0      10         0
26   비빔밥       0      11         0
27    김치       0      11         0

In [518]:
ranDf[ranDf['assign']==2]

   word  assign doc_num  reAssign
2    포도       2       0         2
3    포도       2       0         2
5    포도       2       1         2
6    포도       2       2         2
7   바나나       2       2         2
10  탕수욕       2       3         2
11  볶음밥       2       4         2
13  짜장면       2       5         2

In [376]:
ranDf['assign'] = pd.Series(map(lambda x: assignTopic(x), range(len(ranDf))))
ranDf

    word  assign doc_num  reAssign  reassign
0    바나나       0       0         0         0
1     사과       3       0         3         3
2     포도       2       0         2         2
3     포도       2       0         2         2
4     사과       3       1         3         3
5     포도       2       1         1         2
6     포도       2       2         1         2
7    바나나       0       2         0         0
8    짜장면       1       3         2         1
9     짬뽕       0       3         0         0
10   탕수욕       2       3         2         2
11   볶음밥       2       4         2         2
12   탕수욕       2       4         2         2
13   짜장면       2       5         1         2
14    짬뽕       0       5         0         0
15    라면       3       6         2         3
16    스시       3       6         3         3
17    스시       3       7         3         3
18   가츠동       0       8         0         0
19    스시       3       8         3         3
20    소바       0       8         0         0
21  된장찌개       1       9         2         1
22  김치찌개       1       9         0         1
23    김치       1       9         1         1
24    김치       1      10         1         1
25    된장       1      10         1         1
26   비빔밥       3      11         3         3
27    김치       1      11         3         1

In [295]:
Topic(0)

wordScore: [0.000249   0.00012475 0.00016622 0.11102484]

3

In [296]:
ranDf[ranDf['word']=='포도']

  word  assign doc_num  reAssign
2   포도       2       0         2
3   포도       2       0         2
5   포도       3       1         2
6   포도       3       2         3

In [129]:
Topic(1)

docScore:      0
0  1.1
1  1.1
2  1.1
wordScore: [1.53733866e-01 1.24750499e-04 1.66223404e-04]

0

In [121]:
wordScore

array([[1.001e+00, 1.000e-03, 1.000e-03],
       [1.000e-03, 1.001e+00, 1.001e+00],
       [1.001e+00, 1.001e+00, 2.001e+00],
       [1.001e+00, 1.000e-03, 1.000e-03],
       [1.001e+00, 1.000e-03, 1.000e-03],
       [1.000e-03, 2.001e+00, 1.000e-03],
       [2.001e+00, 1.001e+00, 1.000e-03],
       [1.001e+00, 1.001e+00, 1.000e-03],
       [1.001e+00, 1.001e+00, 1.000e-03],
       [1.001e+00, 1.000e-03, 1.000e-03],
       [1.001e+00, 1.000e-03, 1.000e-03],
       [1.000e-03, 1.001e+00, 2.001e+00],
       [1.000e-03, 1.000e-03, 1.001e+00],
       [2.001e+00, 1.000e-03, 1.000e-03],
       [1.001e+00, 1.000e-03, 1.000e-03],
       [1.000e-03, 1.001e+00, 1.000e-03]])

In [125]:
wordScore[7][1]-=1

In [122]:
bow.index(ranDf['word'][0]), ranDf['assign'][0]

(7, 1)

In [115]:
(a[0]*pd.Series(b)).idxmax()

0

In [107]:
a, b = score(0)

docScore:      0
0  2.1
1  0.1
2  1.1
wordScore: [0.07690535 0.11102484 0.00016622]

In [99]:
(a*b).idxmax()

AttributeError: 'numpy.ndarray' object has no attribute 'idxmax'

In [90]:
type(a),type(b)

(pandas.core.frame.DataFrame, numpy.ndarray)

In [54]:
ranDf

    word  assign doc_num
0    바나나       1       0
1     사과       0       0
2     포도       2       0
3     포도       0       0
4     사과       0       1
5     포도       1       1
6     포도       2       2
7    바나나       0       2
8    짜장면       1       3
9     짬뽕       1       3
10   탕수욕       1       3
11   볶음밥       0       4
12   탕수욕       1       4
13   짜장면       0       5
14    짬뽕       2       5
15    라면       0       6
16    스시       1       6
17    스시       0       7
18   가츠동       1       8
19    스시       0       8
20    소바       0       8
21  된장찌개       0       9
22  김치찌개       2       9
23    김치       1       9
24    김치       2      10
25    된장       0      10
26   비빔밥       0      11
27    김치       2      11

In [55]:
bow = list(set(words))
beta = 0.001

7

In [56]:
wordScore = np.zeros((len(bow),topic_num))
for word, topic in ranDf[['word','assign']].values:
    wordScore[int(bow.index(word))][topic]+=1
wordScore +=  beta

In [75]:
wordScore[bow.index(ranDf['word'][0])]/wordScore.sum(axis = 0)

array([0.07690535, 0.11102484, 0.00016622])

In [52]:
docScore(0,2)

     0
0  2.1
1  1.1
2  0.1

In [45]:
target = ranDf.loc[2]['assign']
target

2

In [46]:
a = pd.DataFrame(np.zeros((topic_num)))

In [47]:
tempDf = (ranDf[ranDf.doc_num=='0'])['assign'].value_counts()
tempDf

0    2
2    1
1    1
Name: assign, dtype: int64

In [48]:
a[0]=tempDf

In [49]:
a = a.fillna(0)+alpha
a

     0
0  2.1
1  1.1
2  1.1

In [50]:
a.iloc[target]-=1
a

     0
0  2.1
1  1.1
2  0.1

# 단어별 score

In [140]:
bow = list(set(words))

In [141]:
beta = 0.001

In [142]:
wordScore = np.zeros((len(bow),topic_num))
for word, topic in ranDf[['word','assign']].values:
    wordScore[int(bow.index(word))][topic]+=1
wordScore +=  beta

In [56]:
def prob(scoreDf, num):
    return (scoreDf.T[num]/scoreDf.sum(axis =1)).reshape(-1,1)

In [92]:
def find_topic():
    a = np.concatenate(tuple(map(lambda x: prob(docScore, x), range(3))),axis=1)
    b= np.concatenate(tuple(map(lambda x: prob(wordScore.T, x), range(3))),axis=1)
    return pd.Series(a[0]*b[0]).idxmax()

# A내에 1이 있을 확률

In [89]:
a = np.concatenate(tuple(map(lambda x: prob(docScore, x), range(3))),axis=1)
b= np.concatenate(tuple(map(lambda x: prob(wordScore.T, x), range(3))),axis=1)

In [90]:
b

array([[7.14183790e-02, 1.42765411e-01, 7.13470320e-05],
       [1.66389628e-01, 1.66389628e-01, 1.66223404e-04],
       [1.24750499e-04, 1.24750499e-04, 1.24875250e-01]])

In [88]:
wordScore.sum(axis=1)

array([2.003, 3.003, 1.003, 1.003, 2.003, 1.003, 4.003, 3.003, 1.003,
       2.003, 1.003, 1.003, 1.003, 2.003, 1.003, 2.003])

In [80]:
pd.Serires(a[0]*b[0]).idxmax()

0

# 1내의 단어가 cute일 확률

In [66]:

pd.DataFrame(b).T[0]

0    0.499750
1    0.499750
2    0.000499
Name: 0, dtype: float64

# A 안의 cute가 1일 확률

array([1.001e+00, 2.001e+00, 1.000e-03, 1.000e-03, 1.001e+00, 1.000e-03,
       2.001e+00, 2.001e+00, 1.001e+00, 1.001e+00, 1.001e+00, 1.001e+00,
       1.001e+00, 1.000e-03, 1.001e+00, 1.000e-03])

In [77]:
(pd.DataFrame(a).T[0]*pd.DataFrame(b).T[0]) #.idxmax()

0    0.244064
1    0.127843
2    0.000128
Name: 0, dtype: float64

In [44]:
pd.DataFrame(a).T.idxmax()

0     0
1     0
2     1
3     0
4     0
5     1
6     1
7     0
8     0
9     0
10    2
11    0
dtype: int64

In [38]:
b.T[0].sort_values().index[-1]

NameError: name 'b' is not defined

In [69]:
0.255814*0.499750

0.1278430465

In [ ]:
np.concatenate(tuple(map(lambda x: getMax(x), range(4))),axis=1).max(axis=1)

In [ ]:
docScore

In [ ]:
docScore.sum(axis =1)

In [ ]:
list(map(lambda x: a[x].max(), range(len(a))))

In [28]:
ranDf['assign'][0]=None

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
a = np.array([[1.1, 2], [3, 4]])
b = np.array([[5, 6 ]])
np.concatenate((a, b), axis=0)

In [30]:
ranDf

    word  assign doc_num
0    바나나     NaN       0
1     사과     2.0       0
2     포도     0.0       0
3     포도     2.0       0
4     사과     2.0       1
5     포도     1.0       1
6     포도     2.0       2
7    바나나     1.0       2
8    짜장면     0.0       3
9     짬뽕     0.0       3
10   탕수욕     0.0       3
11   볶음밥     2.0       4
12   탕수욕     0.0       4
13   짜장면     0.0       5
14    짬뽕     2.0       5
15    라면     0.0       6
16    스시     0.0       6
17    스시     1.0       7
18   가츠동     2.0       8
19    스시     1.0       8
20    소바     2.0       8
21  된장찌개     0.0       9
22  김치찌개     2.0       9
23    김치     2.0       9
24    김치     0.0      10
25    된장     0.0      10
26   비빔밥     0.0      11
27    김치     2.0      11

In [ ]:
np.concatenate((a, b.T), axis=1)

In [ ]:
np.concatenate((a, b), axis=None)

In [ ]:
list(range(1,2))

In [ ]:
class LDA:
    def __init__(self, doc_ls, topic_num, alpha = 0.1, beta = 0.001):
        self.alpha = alpha
        self.beta = beta
        self.k = topic.num
        self.words = (' '.join(self.doc_ls).split(' '))
        self.bow = list(set(self.words))
    
    def RandomlyAssignTopic(self, doc_ls):
        
        assign = np.random.randint(self.k, size = len(self.words))
        ranDf = pd.DataFrame({'word': self.words, 'assign': assign, })

        def func(x):
            return [doc_ls.index(x)]*len(x.split(' '))
        lst = list(map(lambda x: func(x), self.doc_ls))
        ranDf['doc_num'] = str(lst).replace('[','').replace(']','').split(', ')
        
        return ranDf
        
    def IterateAssignTopic(self, docs, terms):
        ranDf = self.RandomlyAssignTopic(self.doc_ls)
        
        def docScore(ranDf):
            docScore = np.zeros((len(self.doc_ls), self.k))
            for doc_num, topic in ranDf[['doc_num','assign']].values:
                docScore[int(doc_num)][topic]+=1
            docScore +=  self.alpha
            return docScore
        
        def wordScore(ranDf):        
            wordScore = np.zeros((len(self.bow), self.k))
            for word, topic in ranDf[['word','assign']].values:
                wordScore[int(self.bow.index(word))][topic]+=1
            wordScore +=  self.beta
            return wordScore
        
        def cal(x):
            ranDf['assign'][x]=None
            docScore = docScore(ranDf)
            wordScore = wordScore(ranDf)
            def docCal(num):
                return (docScore.T[num]/docScore.sum(axis =1)).reshape(-1,1)
            docCal = reduce(lambda x,y: np.concatenate((docCal(x),docCal(y)), axis = 1), range(self.k))
            list(map(lambda x: docCal[x].max(), range(len(docCal))))

    def TopicModeling(self):
        pass